@import 'columns.scss';
@import 'colors.scss';

.initiative{
	border: 1px solid $default-color;
}

.initiative-properties {
	@include column;
	margin-right: 15px;
}

.initiative-provider{
	@include column;
}

.initiative-lessons{
	clear: both;
	margin-top: 15px;
}